{% extends 'base.html.twig' %}
{% block title %}Détail-article{% endblock %}

{% block body %}
<h1 class="text-center">Détail-article 1</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse purus nisi, luctus et enim quis, fermentum venenatis turpis. Cras varius vehicula urna, vitae tempus ex condimentum congue. Cras pulvinar vehicula risus, vitae cursus augue cursus eget. Pellentesque tempus purus vel nunc commodo tempus. Cras tempus elementum nulla. Fusce pharetra faucibus nunc. Cras bibendum lorem eget enim venenatis, ut aliquet leo facilisis. Suspendisse fringilla dapibus quam, sed blandit justo posuere in. Integer sed tincidunt sem. Etiam in pharetra leo. Vestibulum dignissim diam suscipit varius aliquam. Aenean sodales, ex sed suscipit molestie, mi enim luctus elit, ut auctor magna eros id ligula. Nulla elit dui, auctor vitae finibus a, maximus et mi. Sed pulvinar finibus leo, id bibendum massa imperdiet ut.

            Vivamus pulvinar ornare enim at vehicula. Sed tempus eros sit amet est lacinia mattis. Suspendisse ante dui, mattis vel nulla et, laoreet pulvinar purus. Fusce id laoreet magna. Aenean ut est nec mi fermentum lacinia vitae eget leo. Maecenas tincidunt sem quis est consectetur venenatis a a libero. Aliquam sed sem id leo imperdiet tempus at et orci. Duis convallis semper lacus eget dapibus. Maecenas sagittis quis risus nec lacinia. Quisque egestas hendrerit justo, ac tincidunt felis tristique consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac dolor viverra, mollis velit non, semper dolor. Donec sit amet metus iaculis, sollicitudin ipsum quis, cursus mauris. Proin et nisl vitae nisi dapibus auctor. Aenean porttitor maximus justo nec maximus.

            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam molestie odio sed scelerisque scelerisque. Aliquam ultrices eros a nulla feugiat, ut egestas urna iaculis. Pellentesque at eleifend nulla. Suspendisse vitae suscipit sapien. Morbi et varius massa. Duis in commodo nisi. Mauris vulputate arcu sit amet mauris vulputate, vitae convallis lacus varius. Donec feugiat augue eu mattis pretium. Nunc varius ipsum ipsum, vitae sollicitudin dui egestas nec. Morbi porta mi non ex mattis bibendum. Nulla mollis tempus nisi auctor dictum. Nullam ultricies odio in sapien egestas, eget dignissim neque aliquet. Pellentesque commodo urna justo, sit amet congue nisi efficitur eu. Quisque sit amet erat nec ipsum tempor commodo tempus vitae neque.

            Quisque sit amet ligula vel justo scelerisque elementum. Nulla cursus erat sed nibh ornare, nec tristique augue dapibus. Donec in ornare nisi. Fusce elementum egestas hendrerit. Nulla sit amet tincidunt magna, id tristique enim. Nunc quis dictum justo. Pellentesque et blandit elit. Phasellus ac malesuada nibh. Donec luctus, dui ut tincidunt ornare, sem leo dapibus arcu, et mollis mauris massa porta ligula. Donec eu massa et erat vestibulum interdum. Nam faucibus pulvinar nunc eu consequat. Vivamus facilisis libero a vulputate facilisis. Nullam eu orci nibh. Nunc condimentum ut nulla sit amet aliquet.

            In condimentum non nibh vitae laoreet. Aenean condimentum placerat consequat. Praesent porta, metus et suscipit sodales, velit nulla fermentum quam, nec commodo tellus leo eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce semper quis velit ut viverra. Duis mollis nisi diam, non sodales metus hendrerit eget. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ex urna, convallis egestas massa et, elementum scelerisque enim. Duis eget eros ligula.
        </p>
    </div>



{% endblock %}